body{
  width: 1680px;
}
.container-fluid{
  background: #141414;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  gap:1em;
  height: 540px;
  margin-top: 200px;
  width: 1920px;
}
p{
     color: #ffffff;
     font-size: 15px;
    /* visibility: hidden; */
}
.card{
    background: #141414;
    border:0;
    margin: 15px 0px 0px 40px;
    width: 9rem;
}
span{
    color: #ffffff;
    font-size: 80px;
    font-weight:bolder;
    position: absolute;
    top: 40%;
    margin-left:-45px;     
}

